# --- Paths & Domain ---
DATA_PATH=/home/spujol-s/data
DOMAIN_NAME=spujol-s.42.fr

# --- MariaDB ---
MYSQL_ROOT_PASSWORD=your_root_password_here
MYSQL_DATABASE=wpress
MYSQL_USER=wpress_user
MYSQL_PASSWORD=your_db_password_here

# --- WordPress main user ---
WP_ADMIN_USER=wpad
WP_ADMIN_PASSWORD=your_admin_password_here
WP_ADMIN_EMAIL=wpad@student.42.fr

# --- WordPress secondary user ---
WP_USER=wp_second
WP_USER_EMAIL=wp_second@student.42.fr
WP_USER_PASSWORD=your_user_password_here
